body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}
header, footer {
    text-align: center;
    margin-bottom: 20px;
}
header h1 {
    color: #d35400; /* Color Naranja */
}
main {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
section {
    margin-bottom: 25px;
}
h2 {
    border-bottom: 2px solid #d35400;
    padding-bottom: 5px;
    color: #d35400;
}
.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}
.item:last-child {
    border-bottom: none;
}
.plato {
    margin: 0;
    font-weight: bold;
}
.precio {
    margin: 0;
    font-weight: bold;
    color: #2c3e50;
}
footer {
    margin-top: 30px;
    font-size: 0.9em;
    color: #777;
}